akonadi
akonadi-firstrunrc
akonadi-migrationrc
akonadi_akonotes_resource_0rc
akonadi_contactrc
akonadi_contacts_resource_0rc
akonadi_indexing_agentrc
akonadi_maildir_resource_0rc
akregatorrc
alacritty
Android Open Source Project
arkrc
audacious
auroraerc
autostart
autostart-scripts
balena-etcher-electron
baloofileinformationrc
baloofilerc
binwalk
blender
bluedevilglobalrc
bpytop
BraveSoftware
breezerc
broot
cef_user_data
coc
Code
configstore
dconf
device_automounter_kcmrc
discord
discordcanary
discoverrc
dolphinrc
dragonplayerrc
drkonqirc
dunst
eDEX-UI
emaildefaults
emailidentities
enchant
eventviewsrc
fish
flameshot
flowblade
fontconfig
freeplane
GIMP
godot
google-chrome
gtk-2.0
gtk-3.0
gtkrc
gtkrc-2.0
gwenviewrc
htop
ibus
inkscape
kactivitymanagerd-statsrc
kactivitymanagerd-switcher
kactivitymanagerdrc
karboncalligraphyrc
katemetainfos
katerc
kateschemarc
katevirc
kcalcrc
kcminputrc
kconf_updaterc
KDE
kde.org
kdeconnect
kdeconnect.apprc
kded5rc
kded_device_automounterrc
kdeglobals
kdialogrc
keepnote
kglobalshortcutsrc
khelpcenterrc
khotkeysrc
khtml
kinfocenterrc
Kite
kmail2rc
kmailsearchindexingrc
kmenueditrc
kmixrc
knotesrc
kolourpaintrc
konq_history
konquerorrc
konsolerc
korgacrc
korganizerrc
kritadisplayrc
kritarc
krunnerrc
kscreenlockerrc
ksmserverrc
ksplashrc
ksysguardrc
ktimezonedrc
Kvantum
kwalletmanager5rc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
lattedockrc
libaccounts-glib
libfm
libreoffice
libvirt
LinuxTV
lsd
lutris
lximage-qt
lximage-qtrc
lxqt
matplotlib
Meltytech
menus
Microsoft
mimeapps.list
mypaint
neofetch
networkmanagement.notifyrc
nnn
obs-studio
okularpartrc
okularrc
ookla
openbox
opera
pavucontrol-qt
pcmanfm
pcmanfm-qt
Pencil
pipewire-media-session
plasma-localerc
plasma-nm
plasma-org.kde.plasma.desktop-appletsrc
plasma-workspace
plasmanotifyrc
plasmarc
plasmashellrc
powerdevilrc
powermanagementprofilesrc
print-manager
procps
pulse
Qlipper
qpdfview
qterminal.org
qterminalrc
QtProject.conf
qutebrowser
ranger
sddmthemeinstallerrc
session
Shotcutrc
soffice.binrc
specialmailcollectionsrc
spectaclerc
systemd
systemmonitorrc
systemsettingsrc
tabletdblocalrc
tabletprofilesrc
teams
touchpadxlibinputrc
trashrc
Trolltech.conf
Unity Hub
unity3d
UnityHub
Unknown Organization
user-dirs.dirs
user-dirs.locale
VirtualBoxrc
vlc
vlcrc
wacomtablet-kderc
Webcamoid
Webcamoidrc
webengineurlinterceptoradblockrc
wireshark
xsettingsd
zoomus.conf
